<app-navbar></app-navbar>

<section class="flex w-full h-96" style="margin-bottom: 5rem;">
    <img src="..\assets\fonoaudiologia-infantil.jpg" class="w-full h-full object-cover" alt="">
</section>

<div class="background">
    <div class="background-image"></div>
    <section class="py-8 flex flex-col">
        <p class="text-2xl flex justify-center font-bold mb-6">Fonoaudiología Infantil: Apoyo Personalizado para el
            Desarrollo de tu Pequeño Comunicador</p>

        <p class="mb-6 flex justify-center">La fonoaudiología infantil es tu aliada para impulsar el habla, lenguaje y
            comunicación de tu hijo:</p>

    </section>

    <section class="grid md:grid-cols-2 sm:grid-cols-1 mx-auto justify-items-center text-center"
        style="margin-bottom: 5rem;">

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">1. Evaluación Cuidadosa:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Iniciamos con una evaluación para entender las habilidades de comunicación de tu hijo.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">2. Programa Divertido y Personalizado:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li> Creamos un plan de intervención con juegos y actividades emocionantes.</li>
            </ul>
        </div>

        <!-- Agrega bloques similares para cada punto -->

        <p class="mt-4 card text-white">En resumen, la fonoaudiología infantil está diseñada para hacer que el
            viaje del lenguaje de tu hijo sea emocionante y exitoso. ¡Vamos a construir juntos cada palabra!.</p>

        <div class="flex items-center justify-center col-span-2 mt-6 py-6">
            <a href="" class="boton boton-rectangular px-6 py-3 text-white rounded">Agendar Hora</a>
        </div>
    </section>

</div>

    <app-footer></app-footer>