<app-navbar></app-navbar>

<section class="flex w-full h-[650px]" style="margin-bottom: 2rem;">
    <img src="..\assets\Vestibular\Vestibular.jpg" class="w-full h-full object-cover" alt="Imagen de Kinesiología Neurológica">
</section>


<section class="flex flex-col flex-wrap">
    <p class="text-2xl font-bold flex justify-center">Kinesiología vestibular: mejorando tu equilibrio y estabilidad</p>

    <p class="flex justify-center text-lg">La kinesiología vestibular se centra en tratar los trastornos del equilibrio y del sistema vestibular para mejorar tu estabilidad y calidad de vida.</p>
</section>

<div class="background">
    <div class="background-image"></div>

    <section class="grid md:grid-cols-2 sm:grid-cols-1 mx-auto md:mt-5 justify-items-center text-center translate-y-6">

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">1. Evaluación exhaustiva:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Realizaremos una evaluación completa para identificar los problemas en tu sistema vestibular.</li>
                <li>Analizaremos tu equilibrio, coordinación y respuestas a diferentes estímulos.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">2. Programa de rehabilitación personalizado:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Diseñaremos un plan de ejercicios específico para mejorar tu equilibrio y reducir el riesgo de caídas.</li>
                <li>Los ejercicios se adaptarán a tus necesidades y capacidades individuales.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">3. Técnicas de habituación y adaptación:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Utilizaremos técnicas para reducir los síntomas de vértigo y mareo.</li>
                <li>Estas técnicas ayudarán a tu sistema vestibular a adaptarse y funcionar mejor en la vida diaria.</li>
            </ul>
        </div>
        
        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">4. Educación y apoyo continuo:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Te proporcionaremos consejos prácticos para gestionar tu equilibrio y evitar desencadenantes de síntomas.</li>
                <li>Colaboraremos con otros profesionales de la salud para asegurar un enfoque integral de tu tratamiento.</li>
            </ul>
        </div>

        <p class="mt-4 card text-white">Nuestro objetivo es ayudarte a recuperar tu equilibrio y confianza, permitiéndote disfrutar de una vida activa y sin restricciones. Estamos aquí para apoyarte en cada paso del proceso.</p>

    </section>

    <div class="py-12 flex items-center justify-center col-span-2 mt-5">
        <a target="_blank" href="https://ff.healthatom.io/sNcXzU" class="boton boton-rectangular px-6 py-8 text-white rounded">Agendar hora</a>
    </div>
</div>

<app-footer></app-footer>
