<app-navbar></app-navbar>

<div class="pl-4 pr-4 pt-7">
    <p class="mb-2 text-3xl text-gray-500 text-center dark:text-gray-400">¿Quiénes somos?
        <img src="../assets/Group 9.png"  class="h-26 lg:max-w-3xl mx-auto w-full sm:max-w-2xl rounded-lg pt-4 h-72" alt="Korporis Logo" />
</div>

<div class="lg:max-w-3xl mx-auto w-full text-center pl-4 pr-4 pb-5 text-lg">
    <p  class="justify-center"> Con una trayectoria de varios años en el cuidado de la salud, en Korporis nos dedicamos apasionadamente a mejorar la calidad de vida de nuestros pacientes. Nuestro enfoque integral en kinesiología y medicina nos permite abordar una amplia gama de problemas de salud, brindando soluciones personalizadas y efectivas.
        <br>
        <br>
        En Korporis, nuestro compromiso principal es el bienestar de cada persona que ingresa por nuestras puertas. Nos esforzamos por hacer que cada paso del camino hacia la salud sea más fácil y efectivo. Con profesionales altamente capacitados en diversas áreas, ofrecemos un abanico completo de servicios, desde rehabilitación física hasta terapias especializadas y tratamientos médicos avanzados.
        <br>
        <br>
        Nuestro equipo está compuesto por especialistas apasionados y comprometidos, dispuestos a escuchar, comprender y trabajar junto a cada paciente para encontrar la mejor solución para sus necesidades específicas. Nos enorgullecemos de ofrecer un entorno acogedor y cálido, donde la confianza y el cuidado personalizado son fundamentales para cada tratamiento que brindamos.</p>
</div>
<div class="bg-white contenido justify-center flex flex-wrap gap-4 p-4 rounded-lg lg:max-w-7xl mx-auto w-full">
    
    <img src="../assets/A.jpg" class="  max-w-max max-h-80 p-6 " /> 
    <img src="../assets/e.jpg" class="  max-w-sm max-h-80 p-6 " /> 
    <img src="../assets/i.jpg" class="  max-w-sm max-h-80 p-6 " />

      </div>
<app-footer></app-footer>