<div class="min-h-screen flex flex-col">
  
  <main class="flex-grow">
    <app-navbar></app-navbar>

    <section class="h-96 w-full">
      <div id="map"></div>
    </section>
    <h1 class="font-bold flex justify-center text-blue-600 mb-6">Medios de pago y previsiones</h1>
    <section class="grid grid-rows-2 relative z-0" style="margin-bottom: 28rem;">
      <div class="bg-white contenido p-4 rounded-lg shadow-md lg:max-w-3xl mx-auto w-full">
        <h1 class="font-bold text-2xl mb-4 text-center text-blue-600">Previsiones</h1>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/Fonasa.png" alt="Imagen 1">
                </div>
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/banmedica-logo.png" alt="Imagen 2">
                </div>
                <div class="w-full lg:w-44 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/colmena.png" alt="Imagen 3">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/consalud.png" alt="Imagen 2">
                </div>
                <div class="w-full lg:w-44 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/logo_prensa.png" alt="Imagen 3">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/logo-cruzblanca.png" alt="Imagen 1">
                </div>
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/logoacre2.png" alt="Imagen 2">
                </div>
                <div class="w-full lg:w-44 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/vidatres.png" alt="Imagen 3">
                </div>
              </div>
            </div>
          </div>
          <!-- Agrega los botones de navegación si lo deseas -->
          <div class="swiper-button-next hidden lg:block"></div>
          <div class="swiper-button-prev hidden lg:block"></div>
        </div>
      </div>
      <div class="bg-white contenido p-4 rounded-lg shadow-md lg:max-w-3xl mx-auto w-full mt-3">
        <h1 class="font-bold text-2xl mb-4 text-center text-blue-600">Medios de pago</h1>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/visa.png" alt="Imagen 1">
                </div>
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/mastercard.png" alt="Imagen 2">
                </div>
                <div class="w-full lg:w-44 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/Instagram.png" alt="Imagen 3">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/Fonasa.png" alt="Imagen 1">
                </div>
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/mastercard.png" alt="Imagen 2">
                </div>
                <div class="w-full lg:w-44 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-44 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/visa.png" alt="Imagen 3">
                </div>
              </div>
            </div>
          </div>
          <!-- Agrega los botones de navegación si lo deseas -->
          <div class="swiper-button-next hidden lg:block"></div>
          <div class="swiper-button-prev hidden lg:block"></div>
        </div>
      </div>
    </section>
      <app-footer></app-footer>
  </main>


</div>