
    <app-navbar></app-navbar>

    <div id="default-carousel" class="relative w-full" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
           <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="../assets/kines.jpg" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="../assets/Good-Shepherd-Rehabilitation-Network-93-scaled.jpg" class="absolute block w-full h-full object-cover  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <!-- Item 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="../assets/xd.jpg" class="absolute block w-full h-full object-cover  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
         
          <!-- Item 5 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="../assets/medgen2.jpg" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
      </div>
      <!-- Slider indicators -->
      <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
          <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
  
      </div>
      <!-- Slider controls -->
      <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
              </svg>
              <span class="sr-only">Previous</span>
          </span>
      </button>
      <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="sr-only">Next</span>
          </span>
      </button>
    </div>

    <h1 class="font-extrabold text-2xl flex justify-center  mb-8 mt-8" style="color: #00a19a;">Servicios</h1>
    <app-servicios></app-servicios>
    <h1 class="font-bold text-2xl flex justify-center mb-8 mt-8" style="color: #00a19a;" >Medios de pago y previsiones</h1>
    <section class="colorNb pt-8  grid-rows-2 relative z-0" >
      <div class="bg-white contenido p-4 rounded-lg shadow-md mx-auto " style="width: 60%;">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/logo_fonasa_nobg.png" alt="Imagen 1">
                </div>
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/banmedica-logo.png" alt="Imagen 2">
                </div>
                <div class="w-full lg:w-64 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/colmena.png" alt="Imagen 3">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/consalud.png" alt="Imagen 2">
                </div>
                <div class="w-full lg:w-64 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/logo_prensa.png" alt="Imagen 3">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/logo-cruzblanca.png" alt="Imagen 1">
                </div>
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/logoacre2.png" alt="Imagen 2">
                </div>
                <div class="w-full lg:w-64 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/vidatres.png" alt="Imagen 3">
                </div>
              </div>
            </div>
          </div>
          <!-- Agrega los botones de navegación si lo deseas -->
          <div class="swiper-button-next hidden lg:block"></div>
          <div class="swiper-button-prev hidden lg:block"></div>
        </div>
      </div>
      <div class="bg-white contenido p-4 rounded-lg shadow-md mx-auto mt-8" style="width: 60%;">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/visaLogo.webp" alt="Imagen 1">
                </div>
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/mastercard.png" alt="Imagen 2">
                </div>
                <div class="w-full lg:w-64 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/transferencia.png" alt="Imagen 3">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-1/3 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/mastercard.png" alt="Imagen 2">
                </div>
                <div class="w-full lg:w-64 md:w-1/2 p-2">
                  <img
                    class="w-full lg:w-64 h-36 object-contain rounded-lg transition-transform transform hover:scale-110"
                    src="../assets/visaLogo.webp" alt="Imagen 3">
                </div>
              </div>
            </div>
          </div>
          <!-- Agrega los botones de navegación si lo deseas -->
          <div class="swiper-button-next hidden lg:block"></div>
          <div class="swiper-button-prev hidden lg:block"></div>
        </div>
      </div>
      <div id="map-container" class="lg:w-80 xl:w-60 mx-auto mt-8 pb-7">
        <div id="map" class="w-full h-40 sm:h-64 md:h-80 lg:h-96 rounded-md mt-8"></div>
      </div>
    </section>
      <app-footer></app-footer>

