<app-navbar></app-navbar>





<section class="flex w-full h-96" style="margin-bottom: 5rem;">
    <img src="..\assets\EnfermedadRespiratoria.webp" class="w-full h-full object-cover"
        alt="Imagen de Enfermadad respiratoria">
</section>

<div class="background">
    <div class="background-image"></div>

    <p class="text-2xl py-8 font-bold mb-6 flex justify-center">Kinesiología Respiratoria para una Respiración Mejorada y
        Mayor
        Bienestar</p>

    <section class="grid md:grid-cols-2 sm:grid-cols-1 mx-auto justify-items-center text-center"
        style="margin-bottom: 5rem;">

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">1. Evaluación Cómoda:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Analizaremos tu respiración de manera relajada, identificando áreas de mejora de manera amigable y
                    personalizada.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">2. Ejercicios a Tu Ritmo:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Crearemos juntos un plan de ejercicios diseñado para fortalecer tus músculos respiratorios y mejorar
                    tu
                    capacidad pulmonar.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">3. Manejo Práctico de la Dificultad Respiratoria:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Aprenderás técnicas prácticas para manejar la dificultad respiratoria en situaciones cotidianas.
                </li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">4. Rehabilitación Gradual:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Implementaremos un plan de rehabilitación pulmonar que se adapte a tu ritmo y necesidades,
                    ajustándolo
                    según tu progreso.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">5. Consejos para el Autocuidado:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Te proporcionaremos consejos prácticos para cuidar de tu salud respiratoria en casa y en tu vida
                    diaria.
                </li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">6. Comprensión de tu Condición Respiratoria:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Explicaremos de manera comprensible cómo afecta tu enfermedad respiratoria y trabajaremos juntos
                    para
                    mejorarla.</li>
            </ul>
        </div>


        <div class="flex items-center justify-center col-span-2 mt-6 py-6">
            <a href="" class="boton boton-rectangular px-6 py-3 text-white rounded">Agendar Hora</a>
        </div>
    </section>
</div>


<app-footer></app-footer>