<app-navbar></app-navbar>

<section class="flex w-full h-96" style="margin-bottom: 5rem;">
    <img src="..\assets\kinesiologiaImagen.png" class="w-full h-full object-cover" alt="">
</section>

<section class="grid md:grid-cols-1 md:grid-rows-1 sm:grid-cols-1" style="margin-bottom: 5rem;">
    <div class="grid md:grid-rows-2 justify-items-center mb-20 gap-4">
        <p class="text-2xl font-bold mb-4">Medicina General: Cuidado Integral para tu Bienestar</p>

        <p class="text-lg mb-4">La medicina general ofrece un cuidado completo para pacientes de todas las edades, abordando prevención, diagnóstico y tratamiento:</p>
    
        <ul class="mb-6">
            <li class="mb-2">Atención Preventiva: Enfocada en prevenir enfermedades y promover hábitos saludables.</li>
            <li class="mb-2">Diagnóstico y Tratamiento: Evaluación y tratamiento para diversas condiciones médicas.</li>
            <li class="mb-2">Manejo de Enfermedades Crónicas: Coordinación continua para enfermedades a largo plazo.</li>
            <li class="mb-2">Cuidado de Salud Mental: Apoyo para la salud mental, tratando ansiedad y depresión.</li>
            <li class="mb-2">Referencias Especializadas: Derivaciones a especialistas según sea necesario.</li>
            <li class="mb-2">Atención a Todas las Edades: Desde niños hasta adultos mayores.</li>
            <li class="mb-2">Educación del Paciente: Información para decisiones informadas sobre la salud.</li>
            <li class="mb-2">Manejo de Urgencias: Atención de urgencias y lesiones menores.</li>
            <li class="mb-2">Coordinación Integral: Trabajo conjunto con profesionales de la salud para una atención completa.</li>
            <li class="mb-2">Enfoque Holístico: Consideración del bienestar emocional y social del paciente.</li>
        </ul>
    
        <p class="text-lg">La medicina general es la primera línea de defensa, ofreciendo atención preventiva y curativa para mantener y mejorar la calidad de vida.</p>
    
        <a href="" class="boton boton-rectangular">Agendar Hora</a>
    </div>
</section>




<app-footer></app-footer>