<app-navbar></app-navbar>

<section class="flex w-full h-96" style="margin-bottom: 5rem;">
    <img src="..\assets\Medicina General.webp" class="w-full h-full object-cover" alt="Imagen de Medicina General">
</section>

<section class="grid md:grid-cols-1 sm:grid-cols-1 md:my-3 justify-center text-center">
    <div class="grid md:grid-rows-2 justify-items-center mb-20 gap-4">
        <p class="text-2xl font-bold mb-4">Medicina General: Cuidado Integral para tu Bienestar</p>
    
        <p class="text-lg mb-4">La medicina general ofrece un cuidado completo para pacientes de todas las edades, abordando prevención, diagnóstico y tratamiento:</p>
    
        <ul class="mb-6 list-none pl-8">
            <li class="mb-2"><span class="font-bold">Atención Preventiva:</span> Enfocada en prevenir enfermedades y promover hábitos saludables.</li>
            <li class="mb-2"><span class="font-bold">Diagnóstico y Tratamiento:</span> Evaluación y tratamiento para diversas condiciones médicas.</li>
            <li class="mb-2"><span class="font-bold">Manejo de Enfermedades Crónicas:</span> Coordinación continua para enfermedades a largo plazo.</li>
            <li class="mb-2"><span class="font-bold">Cuidado de Salud Mental:</span> Apoyo para la salud mental, tratando ansiedad y depresión.</li>
            <li class="mb-2"><span class="font-bold">Referencias Especializadas:</span> Derivaciones a especialistas según sea necesario.</li>
            <li class="mb-2"><span class="font-bold">Atención a Todas las Edades:</span> Desde niños hasta adultos mayores.</li>
            <li class="mb-2"><span class="font-bold">Educación del Paciente:</span> Información para decisiones informadas sobre la salud.</li>
            <li class="mb-2"><span class="font-bold">Manejo de Urgencias:</span> Atención de urgencias y lesiones menores.</li>
            <li class="mb-2"><span class="font-bold">Coordinación Integral:</span> Trabajo conjunto con profesionales de la salud para una atención completa.</li>
            <li class="mb-2"><span class="font-bold">Enfoque Holístico:</span> Consideración del bienestar emocional y social del paciente.</li>
        </ul>
    
        <p class="text-lg">La medicina general es la primera línea de defensa, ofreciendo atención preventiva y curativa para mantener y mejorar la calidad de vida.</p>
    
        <a href="" class="boton boton-rectangular inline-block mt-4 px-6 py-3 text-white rounded">Agendar Hora</a>
    </div>
</section>





<app-footer></app-footer>