<app-navbar></app-navbar>

<section class="flex w-full h-96" style="margin-bottom: 5rem;">
    <img src="..\assets\kinesiologiaImagen.png" class="w-full h-full object-cover" alt="">
</section>

<section class="grid md:grid-cols-2 md:grid-rows-1 sm:grid-cols-1" style="margin-bottom: 25rem;">
    <div class="flex justify-center items-center"> <!-- Añadí "items-center" para centrar verticalmente -->
        <img src="..\assets\kinesiologiaImagen.png" class="w-1/2 rounded-lg h-full object-center" alt="">
    </div>
    <div class="grid md:grid-rows-2 justify-items-center mb-20 gap-4">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus minima et fuga, adipisci distinctio libero voluptates optio quaerat eos debitis error, esse voluptate aliquam incidunt laborum! Error odio esse dicta, dignissimos, quam maxime, saepe nihil consectetur vitae temporibus ipsam soluta? Cumque, quae modi nesciunt ipsam rem explicabo magnam magni? Rerum minus quod laboriosam facilis voluptatem voluptatibus ad quasi fugiat eius esse. Dicta ratione eos neque assumenda totam, obcaecati praesentium excepturi quos officia minus dolorum quas ipsa repellendus, harum sint repellat, itaque corrupti cum. Temporibus ad similique delectus sint. Mollitia quas animi reprehenderit necessitatibus nobis est numquam natus aut molestiae laborum?</p>
        <a href="" class="boton boton-rectangular">Agendar Hora</a>
    </div>
</section>




<app-footer></app-footer>

