<app-navbar></app-navbar>



<section class="flex w-full h-[650px]" style="margin-bottom: 2rem;">
    <img src="..\assets\kinesiologiaImagen.png" class="w-full h-full object-cover"
        alt="Imagen Kinesiología Múscuclo Esquelética">
</section>

<p class="py-8 text-2xl font-bold text-center">Tratamiento musculoesquelético: tu camino hacia el bienestar físico
</p>

<div class="background">
    <div class="background-image"></div>

    <section class="grid md:grid-cols-2 sm:grid-cols-1 mx-auto md:mt-5 justify-items-center text-center translate-y-6">

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">1. Kinosioterapia personalizada:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Desarrollaremos un plan de ejercicios específico para ti, destinado a fortalecer los músculos y
                    mejorar la flexibilidad.</li>
                <li>Utilizaremos técnicas manuales para aliviar dolores y mejorar la función de tus articulaciones.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">2. Masajes terapéuticos:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Los masajes se centrarán en relajar los músculos y mejorar la circulación sanguínea.</li>
                <li>Esto puede aliviar la tensión y reducir dolores musculares.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">3. Ejercicios adaptados a tus necesidades:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Crearemos un programa de ejercicios personalizado que se ajuste a tus objetivos y estilo de vida.
                </li>
                <li>Estos ejercicios pueden mejorar la postura y fortalecer áreas específicas que necesiten atención.
                </li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">4.Enfoque holístico:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Trabajaremos juntos para entender tu situación de manera integral.</li>
                <li>Podríamos combinar diferentes enfoques según tus necesidades para obtener los mejores resultados.
                </li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">5.Consejos prácticos para el día a día:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Discutiremos hábitos diarios que podrían estar afectando tu bienestar y cómo abordarlos.</li>
                <li>Te proporcionaremos sugerencias prácticas para mejorar tu salud musculoesquelética en tu entorno
                    cotidiano.</li>
            </ul>
        </div>

        <div class="card text-white">
            <p>El objetivo final es que te sientas más cómodo en tu cuerpo y puedas disfrutar de una mayor movilidad en
                todas las áreas de tu vida. Estamos aquí para guiarte y apoyarte en tu camino hacia el bienestar físico.
            </p>
        </div>


    </section>

    <div class="flex py-12 items-center justify-center col-span-2 mt-5">
        <a target="_blank" href="https://ff.healthatom.io/sNcXzU" class="boton boton-rectangular px-6 py-3 text-white rounded">Agendar hora</a>
    </div>

</div>

<app-footer></app-footer>