<app-navbar></app-navbar>



<section class="flex w-full h-96" style="margin-bottom: 5rem;">
    <img src="..\assets\kinesiologiaImagen.png" class="w-full h-full object-cover"
        alt="Imagen Kinesiología Múscuclo Esquelética">
</section>

<div class="background">
    <div class="background-image"></div>
    <p class="py-8 text-2xl font-bold text-center">Tratamiento Musculoesquelético: Tu Camino hacia el Bienestar Físico
    </p>

    <section class="grid md:grid-cols-2 mx-auto justify-items-center text-center" style="margin-bottom: 5rem;">

        <div class="card">
            <p class="mb-2"><span class="font-bold">1. Fisioterapia Personalizada:</span></p>
            <ul class="list-none pl-8 ml-4 text-yellow-300">
                <li>Desarrollaremos un plan de ejercicios específico para ti, destinado a fortalecer los músculos y
                    mejorar la flexibilidad.</li>
                <li>Utilizaremos técnicas manuales para aliviar dolores y mejorar la función de tus articulaciones.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold">2. Masajes Terapéuticos:</span></p>
            <ul class="list-none pl-8 ml-4 text-yellow-300">
                <li>Los masajes se centrarán en relajar los músculos y mejorar la circulación sanguínea.</li>
                <li>Esto puede aliviar la tensión y reducir dolores musculares.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold">3. Ejercicios Adaptados a Tus Necesidades:</span></p>
            <ul class="list-none pl-8 ml-4 text-yellow-300">
                <li>Crearemos un programa de ejercicios personalizado que se ajuste a tus objetivos y estilo de vida.
                </li>
                <li>Estos ejercicios pueden mejorar la postura y fortalecer áreas específicas que necesiten atención.
                </li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold">4. Consejos Prácticos para el Día a Día:</span></p>
            <ul class="list-none pl-8 ml-4 text-yellow-300">
                <li>Discutiremos hábitos diarios que podrían estar afectando tu bienestar y cómo abordarlos.</li>
                <li>Te proporcionaremos sugerencias prácticas para mejorar tu salud musculoesquelética en tu entorno
                    cotidiano.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold">5. Enfoque Holístico:</span></p>
            <ul class="list-none pl-8 ml-4 text-yellow-300">
                <li>Trabajaremos juntos para entender tu situación de manera integral.</li>
                <li>Podríamos combinar diferentes enfoques según tus necesidades para obtener los mejores resultados.
                </li>
            </ul>
        </div>

        <div class="card text-yellow-300">
            <p>El objetivo final es que te sientas más cómodo en tu cuerpo y puedas disfrutar de una mayor movilidad en
                todas las áreas de tu vida. Estamos aquí para guiarte y apoyarte en tu camino hacia el bienestar físico.
            </p>
        </div>

        <div class="flex items-center justify-center col-span-2 mt-6">
            <a href="#" class="boton boton-rectangular px-6 py-3 text-white rounded">Agendar Hora</a>
        </div>


    </section>

</div>

<app-footer></app-footer>