<app-navbar></app-navbar>

<section class="flex w-full h-96" style="margin-bottom: 5rem;">
    <img src="..\assets\fonoaudiologia-infantil.jpg" class="w-full h-full object-cover" alt="">
</section>

<div class="background">
    <div class="background-image"></div>
    
    <section class="py-8 flex flex-col">
        <p class="text-2xl font-bold mb-6 flex justify-center">Masoterapia: Tu ruta hacia el relajo y equilibrio</p>
        <p class="mb-6 font-medium flex justify-center">La masoterapia se presenta como una experiencia diseñada para aliviar
            tensiones y promover un estado de equilibrio. Nuestro enfoque conjunto abarca diversos aspectos para
            asegurar tu comodidad y disfrute de una vida más relajada:</p>
    </section>


    <section class="grid md:grid-cols-2 sm:grid-cols-1 mx-auto justify-items-center text-center"
        style="margin-bottom: 5rem;">


        <div class="card">
            <p class="mb-2"><span class="font-bold">1. Masajes Personalizados:</span></p>
            <ul class="list-none pl-8 ml-4 text-yellow-300">
                <li>Desarrollaremos un plan de masajes adaptado a tus necesidades específicas, centrados en liberar
                    tensiones acumuladas.</li>
                <li>Utilizaremos técnicas especializadas para relajar tus músculos y mejorar la circulación sanguínea.
                </li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold">2. Terapia Manual Terapéutica:</span></p>
            <ul class="list-none pl-8 ml-4 text-yellow-300">
                <li>Implementaremos técnicas manuales con precisión para abordar áreas específicas de incomodidad y
                    mejorar la flexibilidad.</li>
                <li>Aliviaremos dolores musculares y contribuiremos a la mejora general de la función corporal.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold">3. Ambiente Relajante:</span></p>
            <ul class="list-none pl-8 ml-4 text-yellow-300">
                <li>Crearemos un entorno tranquilo y acogedor para potenciar tu experiencia de masoterapia.</li>
                <li>La atención se centrará en tu comodidad y relajación, contribuyendo a una sesión placentera.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold">4. Consejos para el Autocuidado:</span></p>
            <ul class="list-none pl-8 ml-4 text-yellow-300">
                <li>Discutiremos hábitos diarios que podrían afectar tu bienestar y proporcionaremos sugerencias
                    prácticas para mantener los beneficios de la masoterapia en tu rutina diaria.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold">5. Enfoque Integral en el Bienestar:</span></p>
            <ul class="list-none pl-8 ml-4 text-yellow-300">
                <li>Adoptaremos un enfoque holístico para entender tus necesidades en su totalidad.</li>
                <li>Personalizaremos la experiencia de masoterapia, combinando diversas técnicas para garantizar los
                    mejores resultados.</li>
            </ul>
        </div>

        <p class="mt-4 card text-yellow-300">Nuestro objetivo es que experimentes un estado de relajación y equilibrio
            en tu cuerpo. Estamos aquí para guiarte y brindarte apoyo en tu búsqueda hacia el bienestar a través de la
            masoterapia.</p>

        <div class="flex items-center justify-center col-span-2 mt-6">
            <a href="" class="boton boton-rectangular px-6 py-3 text-white rounded">Agendar Hora</a>
        </div>
    </section>
</div>


<app-footer></app-footer>