<app-navbar></app-navbar>


<section class="flex w-full h-96" style="margin-bottom: 5rem;">
    <img src="..\assets\IRAKinesiología.jpg" class="w-full h-full object-cover" alt="">
</section>

<section class="grid md:grid-cols-1 sm:grid-cols-1 mx-auto my-10 md:my-20 justify-items-center text-center" style="margin-bottom: 5rem;">
    <p class="text-2xl font-bold mb-6">Kinesiología para Infecciones Respiratorias Agudas: Recuperación Personalizada</p>

    <div class="mb-6 inline-block">
        <p class="mb-2"><span class="font-bold">1.Evaluación Específica:</span></p>
        <ul class="list-none pl-8 ml-4">
            <li>Evaluamos cómo la infección afecta tu sistema respiratorio, considerando capacidad pulmonar y fuerza muscular.</li>
        </ul>
    </div>

    <div class="mb-6 inline-block">
        <p class="mb-2"><span class="font-bold">2.Programa de Recuperación Personalizado:</span></p>
        <ul class="list-none pl-8 ml-4">
            <li>Diseñamos un programa de ejercicios adaptado a tu estado de salud para fortalecer tus pulmones y músculos respiratorios.</li>
        </ul>
    </div>

    <div class="mb-6 inline-block">
        <p class="mb-2"><span class="font-bold">3.Técnicas de Despeje Respiratorio:</span></p>
        <ul class="list-none pl-8 ml-4">
            <li>Enseñamos técnicas para despejar las vías respiratorias, facilitando la expulsión de mucosidad.</li>
        </ul>
    </div>

    <div class="mb-6 inline-block">
        <p class="mb-2"><span class="font-bold">4.Ejercicios de Respiración Controlada:</span></p>
        <ul class="list-none pl-8 ml-4">
            <li>Trabajamos en ejercicios de respiración para mejorar tu capacidad pulmonar y eficacia respiratoria.</li>
        </ul>
    </div>

    <div class="mb-6 inline-block">
        <p class="mb-2"><span class="font-bold">5.Monitoreo Continuo y Ajustes:</span></p>
        <ul class="list-none pl-8 ml-4">
            <li>Seguimos tu progreso de cerca, ajustando el programa según necesites.</li>
        </ul>
    </div>

    <div class="mb-6 inline-block">
        <p class="mb-2"><span class="font-bold">6.Asesoramiento de Cuidado Personal:</span></p>
        <ul class="list-none pl-8 ml-4">
            <li>Te brindamos orientación sobre el cuidado durante la recuperación y discutimos hábitos de vida saludables.</li>
        </ul>
    </div>

    <div class="mb-6 inline-block">
        <p class="mb-2"><span class="font-bold">7.Enfoque Integral en el Bienestar:</span></p>
        <ul class="list-none pl-8 ml-4">
            <li>Abordamos no solo los síntomas respiratorios, sino tu bienestar general para que te sientas mejor en poco tiempo.</li>
        </ul>
    </div>

    <p class="mt-4">La kinesiología busca acelerar tu recuperación y mejorar tu bienestar respiratorio mediante un enfoque adaptado a tus necesidades individuales.</p>

    <a href="" class="boton boton-rectangular inline-block mt-6 px-6 py-3 text-white rounded ">Agendar Hora</a>
</section>

<app-footer></app-footer>
