.card {
    background-color: #00a19a;
    border: 2px solid #00796b;
    border-radius: 8px;
    padding: 10px; /* Puedes ajustar el padding según tus necesidades */
    margin-bottom: 20px;
    width: 70%; /* Puedes ajustar el ancho según tus necesidades */
    box-sizing: border-box; /* Evita que el padding afecte al ancho total */
}

.card p {
    font-size: 18px;
}


.card ul {
    list-style-type: none;
    padding: 0;
}

.card li {
    margin-bottom: 3px;
}