<app-navbar></app-navbar>



<section class="flex w-full h-[650px]" style="margin-bottom: 2rem;">
    <img src="..\assets\infantilresp.jpg" class="w-full h-full object-cover" alt="">
</section>

<p class="text-2xl py-8 font-bold mb-6 flex justify-center">Kinesiología para Infecciones Respiratorias Agudas:
    Recuperación Personalizada</p>

<div class="background">
    <div class="background-image"></div>


        <section class="grid md:grid-cols-2 sm:grid-cols-1 mx-auto md:mt-5 justify-items-center text-center translate-y-6">

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">1. Evaluación específica:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Evaluamos tu condición respiratoria, en consideración de tu afección y así determinar el plan de tratamiento</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">2. Programa de recuperación personalizado:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Diseñamos un programa de ejercicios adaptado a tu estado de salud para mantener o mejorar tu funcionalidad respiratoria</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">3. Técnicas respiratorias:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Enseñamos técnicas para despejar las vías respiratorias, facilitando la expulsión de mucosidad y trabajamos en ejercicios de respiración para mejorar tu capacidad pulmonar y eficacia respiratoria.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">4. Monitoreo continuo y ajustes:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Seguimos tu progreso de cerca, ajustando el programa según necesites.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">5. Asesoramiento de cuidado personal:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Te brindamos orientación sobre el cuidado durante la recuperación y discutimos hábitos de vida
                    saludables.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">6. Enfoque integral en el bienestar:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Abordamos no solo los síntomas respiratorios, sino tu bienestar general para que te sientas mejor en
                    poco tiempo.</li>
            </ul>
        </div>
    </section>

    
    <div class="flex items-center py-8 justify-center col-span-2 mt-5">
        <a target="_blank" href="https://ff.healthatom.io/sNcXzU" class="boton boton-rectangular px-6 py-3 text-white rounded">Agendar hora</a>
    </div>

</div>

<app-footer></app-footer>