@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.colorNb{
    background-color: #00a19a;
}

.custom-link {
    text-decoration: none; /* Elimina el subrayado predeterminado */
    position: relative;
  }
  
  .custom-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px; /* Ajusta el tamaño del subrayado */
    bottom: -5px;
    left: 0;
    background-color: #ffdd00; /* Cambia el color del subrayado */
    transform: scaleX(0); /* Inicialmente oculto */
    transform-origin: bottom left;
    transition: transform 0.2s ease-in-out
  }
  
  .custom-link:hover::after {
    transform: scaleX(1); /* Muestra el subrayado al pasar el cursor sobre el enlace */
  }
  body {
    font-family: 'Manrope', sans-serif;
    position: relative;
  }

  .boton {
    display: inline-block;
    width: 200px;
    font-weight: 700;
    height: 50px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all ease-in-out 0.3s; /* Aplicar la transición al estado normal también */
  }

  .boton:hover {
      background-color: #f2bc1c;
      color: black;
  }
  