<app-navbar></app-navbar>


<section class="flex w-full h-[500px]" style="margin-bottom: 2rem;">
    <img src="../assets/Piso-Pelvico/Piso-Pelvico.jpg" class="w-full h-full object-cover"
        alt="Imagen de Piso Pélvico">
</section>

<section class="py-8 flex flex-col mb-6">
    <p class="text-2xl font-bold flex justify-center">Kinesiología de Piso Pélvico para una Mejor Calidad de Vida y Bienestar</p>
</section>

<div class="background">
    <div class="background-image"></div>

    <section class="grid md:grid-cols-2 sm:grid-cols-1 mx-auto md:mt-5 justify-items-center text-center translate-y-6">

        <div class="card p-4 m-4 rounded shadow-lg">
            <p class="mb-2"><span class="font-bold text-white">1. Evaluación inicial:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Realizaremos una evaluación detallada de tu piso pélvico para identificar áreas de mejora de manera personalizada.</li>
            </ul>
        </div>

        <div class="card p-4 m-4 rounded shadow-lg">
            <p class="mb-2"><span class="font-bold text-white">2. Ejercicios específicos:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Desarrollaremos un plan de ejercicios diseñado para fortalecer los músculos de tu piso pélvico.</li>
            </ul>
        </div>

        <div class="card p-4 m-4 rounded shadow-lg">
            <p class="mb-2"><span class="font-bold text-white">3. Técnicas de relajación:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Te enseñaremos técnicas de relajación para reducir la tensión en los músculos del piso pélvico.</li>
            </ul>
        </div>

        <div class="card p-4 m-4 rounded shadow-lg">
            <p class="mb-2"><span class="font-bold text-white">4. Rehabilitación postparto:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Ofrecemos programas de rehabilitación para ayudar a recuperar la fuerza y funcionalidad del piso pélvico después del parto.</li>
            </ul>
        </div>

        <div class="card p-4 m-4 rounded shadow-lg">
            <p class="mb-2"><span class="font-bold text-white">5. Prevención de problemas:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Te daremos consejos y ejercicios para prevenir problemas como la incontinencia urinaria y el prolapso.</li>
            </ul>
        </div>

        <div class="card p-4 m-4 rounded shadow-lg">
            <p class="mb-2"><span class="font-bold text-white">6. Educación continua:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Proporcionaremos información y recursos para que entiendas mejor la salud de tu piso pélvico y cómo mantenerlo.</li>
            </ul>
        </div>

    </section>

    <div class="flex items-center justify-center col-span-2 mt-5 py-8">
        <a target="_blank" href="https://ff.healthatom.io/sNcXzU" class="boton boton-rectangular px-6 py-3 text-white rounded">Agendar hora</a>
    </div>

</div>


<app-footer></app-footer>