<app-navbar></app-navbar>

<section class="flex w-full h-96" style="margin-bottom: 5rem;">
    <img src="..\assets\cerebro.jpg.webp" class="w-full h-full object-cover" alt="Imagen de Kinesiología Neurológica">
</section>

<div class="background">
    <div class="background-image"></div>

    <section class="flex flex-col">
        <p class="text-2xl font-bold mb-6 flex justify-center">Kinesiología Neurológica: Mejorando tu Movimiento y
            Coordinación</p>

        <p class="mb-6 flex justify-center">La kinesiología neurológica es un enfoque especializado que ayuda a mejorar
            la conexión entre tu cerebro y tus músculos para optimizar tu movimiento. Aquí está cómo podría
            beneficiarte:</p>
    </section>

    <section class="grid md:grid-cols-2 sm:grid-cols-1 mx-auto my-10 md:my-20 justify-items-center text-center"
        style="margin-bottom: 5rem;">

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">1. Evaluación Personalizada:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Realizaremos una evaluación detallada para entender cómo tu cerebro controla tus músculos y
                    movimiento.</li>
                <li>Observaremos tu fuerza, coordinación y cómo responde tu cuerpo a diferentes pruebas.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">2. Programa de Ejercicios Hecho a Tu Medida:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Crearemos un plan de tratamiento adaptado a tus necesidades específicas.</li>
                <li>Los ejercicios están diseñados para fortalecer la conexión entre tu cerebro y tus músculos.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">3. Mejorando Percepciones y Movimiento:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Utilizaremos técnicas que involucren tus sentidos y movimiento para activar y fortalecer tus vías
                    neuromusculares.</li>
                <li>Esto ayudará a mejorar la coordinación y el equilibrio.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">4. Atención Especial a Condiciones Neurológicas:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Si enfrentas desafíos relacionados con el sistema nervioso, como daño cerebral o trastornos del
                    movimiento, adaptaremos el tratamiento para abordar esas necesidades.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">5. Consejos Prácticos y Colaboración:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Te proporcionaremos consejos sobre cómo mejorar tu postura y movimiento en la vida diaria.</li>
                <li>Trabajaremos en conjunto con otros profesionales de la salud según sea necesario.</li>
            </ul>
        </div>

        <p class="mt-4 card text-white">La meta es que experimentes una mejora significativa en tu calidad de
            movimiento y disfrutes de una vida más activa y cómoda. Estoy aquí para apoyarte en cada paso del camino.
        </p>

        <div class="flex items-center justify-center py-8 col-span-2 mt-6">
            <a href="" class="boton boton-rectangular px-6 py-8 text-white rounded">Agendar Hora</a>
        </div>
    </section>

</div>
    <app-footer></app-footer>