<app-navbar></app-navbar>

<section class="flex w-full h-[650px]" style="margin-bottom: 2rem;">
    <img src="..\assets\Neurologica\neurologica.jpg" class="w-full h-full object-cover" alt="Imagen de Kinesiología Neurológica">
</section>

<section class="flex flex-col flex-wrap">
    <p class="text-2xl font-bold flex justify-center">Kinesiología neurológica: mejorando tu función neuromuscular</p>

    <p class="flex justify-center text-lg">La kinesiología neurológica es un enfoque especializado que ayuda a mejorar
        la conexión entre tu cerebro y tu sistema músculo esquelético.</p>
</section>

<div class="background">
    <div class="background-image"></div>


    <section class="grid md:grid-cols-2 sm:grid-cols-1 mx-auto md:mt-5 justify-items-center text-center translate-y-6">

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">1. Evaluación personalizada:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Realizaremos una evaluación detallada para analizar la conexión neuromuscular y así determinar un tratamiento acorde para alcanzar tus metas.</li>
                <li>Observaremos tu fuerza, coordinación, equilibrio, entre otros y cómo responde tu cuerpo a diferentes pruebas.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">2. Programa de ejercicios hecho a tu medida:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Crearemos un plan de tratamiento adaptado a tus necesidades específicas.</li>
                <li>Los ejercicios están diseñados para mantener o mejorar tu independencia en las actividades de tu vida diaria.</li>
            </ul>
        </div>

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">3. Mejorando percepciones y movimiento:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Utilizaremos técnicas que involucren tus sentidos y movimiento, para activar y estimular tus vías
                    neuromusculares.</li>
                <li>Esto ayudará a mejorar tus aptitudes físicas para poder desenvolverte diariamente.</li>
            </ul>
        </div>
        

        <div class="card">
            <p class="mb-2"><span class="font-bold text-white">4. Consejos prácticos y colaboración:</span></p>
            <ul class="list-none pl-8 ml-4 text-white">
                <li>Te proporcionaremos consejos sobre cómo adaptarte en tu vida diaria.</li>
                <li>Trabajaremos en conjunto con otros profesionales de la salud según sea necesario.</li>
            </ul>
        </div>

        <p class="mt-4 card text-white">La meta es que experimentes una mejora significativa en tu calidad de
            movimiento y disfrutes de una vida más activa y cómoda. Estamos aquí para apoyarte en cada paso del camino.
        </p>

    </section>

    <div class="py-12 flex items-center justify-center col-span-2 mt-5">
        <a target="_blank" href="https://ff.healthatom.io/sNcXzU" class="boton boton-rectangular px-6 py-8 text-white rounded">Agendar hora</a>
    </div>

</div>
    <app-footer></app-footer>