<div class="justify-center grid sm:grid-cols-1 xl:grid-cols-3 md:grid-cols-2 sm:p-2 md:p-4 gap-4 md:gap-20 lg:max-w-7xl mx-auto w-full overflow-x-auto">
    <!-- Cuadro para Kinesiología -->
    <div class="md:w-[400px] md:h-[370px] bg-white dark:bg-gray-800 border-yellow-300 border-solid border-[5px] p-3 shadow">
        <h2 class="font-bold text-2xl text-center border-b pb-4 border-black">Kinesiología</h2>
        <ul class="mt-6 space-y-4 text-start">
            <li class="font-semibold text-lg">-> Preferencial Fonasa: $16.000/40-50 <span class="ml-[21px]">Minutos</span></li>
            <li class="font-semibold text-lg">-> Valor  particular reembolsable (Isapres <span class="ml-[21px]">y seguros): $18.000 /45 Minutos</span></li>
            <!-- Agrega más servicios de Kinesiología si es necesario -->
        </ul>
    </div>


    <div class="md:w-[400px] md:h-[370px] bg-white dark:bg-gray-800 border-yellow-300 border-solid border-[5px] p-3 shadow">
        <h2 class="font-bold text-2xl text-center border-b pb-4 border-black">Fonoaudiología</h2>
        <ul class="mt-6 space-y-4 text-start">
            <li class="font-semibold text-lg">-> Preferencial Fonasa: $16.000 / 45 <span class="ml-[21px]">Minutos</span></li>
            <li class="font-semibold text-lg">-> Valor particular reembolsable: $18.000 <span class="ml-[21px]">/ 45 Minutos</span></li>
            <li class="font-semibold text-lg">-> Lavado de oídos: $20.000</li>
            <!-- Agrega más servicios de Fonoaudiología si es necesario -->
        </ul>
    </div>

    <!-- Cuadro para Masoterapia -->
    <div class="md:w-[400px] md:h-[370px] bg-white dark:bg-gray-800 border-yellow-300 border-solid border-[5px] p-3 shadow">
        <h2 class="font-bold text-2xl text-center border-b pb-4 border-black">Masoterapia</h2>
        <ul class="mt-6 space-y-4 text-start">
            <li class="font-semibold text-lg">-> Masaje relajante: $20.000/30 Minutos</li>
            <li class="font-semibold text-lg">-> Drenaje linfático: $22.000/40 Minutos</li>
            <li class="font-semibold text-lg">-> Masaje deportivo: $23.000/30 Minutos</li>
            <li class="font-semibold text-lg">-> Masaje post operatorio: $20.000/30 <span class="ml-[21px]">Minutos</span></li>
            <li class="font-semibold text-lg">-> Masaje descontracturante:$25.000/40  <span class="ml-[21px]">Minutos</span></li>
            <!-- Agrega más servicios de Masoterapia si es necesario -->
        </ul>
    </div>

    <!-- Cuadro para Fonoaudiología -->
</div>

      
